/*** Start Bootstrap Overwritten ***/
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 0;

  a {
    color: #4a90e2;
  }

  .breadcrumb-item {
    font-size: 13px;
  }

  .active {

    a {
      color: #5b6169;
    }
  }
}

/*** End Bootstrap Overwritten ***/