.page-search-filter{
  padding-top: 20px;
  padding-bottom: 10px;

  .search-filter-btn{
    padding: 4px 22px;
    width: auto;
    min-width: auto;
    max-width:125px;
  }

  .sort-by-search{
     width: 185px;
  }

}