.create-new-customer{
  max-width:1060px;

  .primary-contact-information {
    margin-top: 60px;
  }

    .createbtn {
      margin-top: 35px;
    }
  .margin-topcss {
    margin-top: 79px;
  }
  .create-customer-left{
    padding-right:130px;
  }
  .create-customer-right{
    padding-right:130px;
  }

}

