/* Color */
$default-color:#3f3f3f;
$primary-color: #f68d5f;
$secondary-color: #dd7446;
$info-color: #3e3f3e;
$accent-color: #f0f0f0;

$label-color: #5b6169;
$header-color: #101010;
$border-color: #d2e2e8;

$heading-color: #9c9c9c;

$success-color: #57d9a3;
$warning-color: #f69119;
$error-color: #d50000;

$black: #000000;
$white: #ffffff;

$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;

$dark-pink: #C25457;

$green-color:#7CC576;
$gray-color:#ebebeb;
$remove-color:#f15931;
$pink-color:#f49ac1;
$inactive-color:#ccc7c7;
$sidelist-color:#414141;

$disabledbtn-color:#ffdecf;
$border-color-radio: #7F7F7F;
$gray-color-deep: #7F7F7F;
$off-white:#f2f2f2;



/* Font */
$gilroy: 'Gilroy';
$font-size-default: 14px;


/* Breakpoint */
$laptop: 1200px 1440px;
$desktop: 992px 1199px;
$tab: 768px 991px;
$mobile: 767px;